@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color:black !important;
}
h1{
  color:black !important;
}

.brand-logo,h2{
  

}
.mycard{
  margin-top: 20px;
}
.auth-card{

  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin:10px auto;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
 
}
.iteam{
  width:100%;
  height:200px;
 
 
  /* width:100px;
  height:100px 
  overflow: hidden;
  /* border:1px solid black */
 
}

.iteam1{
  width:33%;
  overflow: hidden;
  
  padding:5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px white;
 
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin:20px auto;
}
#tost-container{
  color:blue;
}

.material-icons:hover{
  cursor: pointer;
}
.icon{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

textarea {
   
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 0px solid;
  resize: none;
  font-size: 20px;
}

textarea:focus, input:focus{
  outline: none;
}
 a:hover {

 
  box-shadow:none;
  color:blue
  
  }

  .over{
    overflow: hidden;
  }

  .button {
    background-color: #3366ff;
    border: white;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  input:focus{
    outline: none;   
}

.over{
  overflow: hidden;
}

.img1 {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }

  .iteam{
    width:100%;
    height:100px;
  
   
  }

  .chat1{

    background-color: #bfbfbf;
    box-shadow: 10px 10px 10px white;
    margin-top: 15px;
  
    padding:20px;
  }
  
  .chat2{
  
    background-color: #80ffaa;
    box-shadow: 10px 10px 10px white;
    margin-top: 15px;
   
    padding:20px;
  }
  
}

.chat1{

  background-color: #bfbfbf;
  box-shadow: 10px 10px 10px white;
  margin-top: 15px;
  margin-right: 100px;
  padding:20px;
  margin-bottom: 15px;
  border-radius: 20px;
  
}

.chat2{

  background-color: #80ffaa;
  box-shadow: 10px 10px 10px white;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 20px;
  padding:20px;
  border-radius: 20px;
  margin-bottom: 15px;
}