@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color:black !important;
}
h1{
  color:black !important;
}

.brand-logo,h2{
  

}
.mycard{
  margin-top: 20px;
}
.auth-card{

  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin:10px auto;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.iteam{
  width:100%;
  height:80%;
  /* width:100px;
  height:100px */
  overflow: hidden;
  /* border:1px solid black */

}

.iteam1{
  width:30%;
  overflow: hidden;
  border:.2px solid grey;
  padding:5px;
  border-radius: 5px;

}

.home-card{
  max-width: 500px;
  height: max-content;
  margin:20px auto;
}
#tost-container{
  color:blue;
}

.material-icons:hover{
  cursor: pointer;
}
.icon{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

textarea {
   
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 0px solid;
  resize: none;
  font-size: 20px;
}

textarea:focus, input:focus{
  outline: none;
}
 a:hover {

 
  box-shadow:none;
  color:blue
  
  }

  .over{
    overflow: hidden;
  }

  .button {
    background-color: #3366ff;
    border: white;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  input:focus{
    outline: none;   
}

.over{
  overflow: hidden;
}